<%- include('../partials/header') %>
<h1>Flight List </h1>
<table id="FlightList">
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight-Number</th>
        <th>Departs</th>
      </tr>
    </thead>
   <tbody>
   <% flights.forEach(function(f) { %>
    <tr>
        <td><%= f.airline %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNumber %></td>
        <td><%= f.departs %></td>
        <td><button><a href="/flights/<%= f._id %>">DETAILS</a></button></td>
    </tr>
   <% }); %>
   </tbody>
   </table>
   <%- include('../partials/footer') %> 