<%- include('../partials/header') %>

   <section id="Destination Table"> --> -->
     <section> -->
        < <h2>Flight Tickets</h2>
        <!-- <form id="tickets-table" method="POST" action="/flights/<%= flight._id %>/tickets/new"> -->
          <% if (tickets.length) { %>
          <table class="table" id="tickets-table">
             <thead>
              <th>Seat</th>
              <th>Price</th>
            </thead>
            <tbody>
              <% tickets.forEach(function(t) { %>
                <tr>
                  <td><%= t.seat %></td>
                  <td><%= t.price %></td>
                </tr>
                <!-- </form> -->
              <% }); %>
            </tbody>
          </table>
          <% } %>
        <button><a href="/flights/<%= flight._id%>/tickets/new">Add New Ticket</a></button>
      </section> -

<br><br>
<h2>Destinations</h2>
<form id="add-desitnations-form" method="POST" action="/flights/<%= flight._id %>/destinations">
<label>Destination Airline:</label>
<select name="airport">
    <option value="ATL">ATL</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
</select>
<input type="datetime-local" name="arrival">
<input type="submit" value="add destination">
</form>
<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
         <% flight.destinations.forEach(function(d) { %>
          <tr>
            <td><%= d.airport %></td>
            <td><%= d.arrival.toLocaleDateString() %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %> -->
    <h5>No Destinations Yet</h5>
  <% } %> -->
 -->

<%- include('../partials/footer') %> -->